body main {
    padding: 0
}

.menu-section nav ul li a {
    border-radius: 0.5rem;
}

.section-details {
    display: flex;
    padding: 2rem 5%;
    font-family: Roboto, sans-serif;
    min-height: 32rem;
}

.series-description {
    padding: 0 5% 3rem;
}

.section-details .details-iframe {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.section-details .details-iframe iframe {
    border-radius: 0.5rem;
    width: 100%;
    height: 90%;
}

.section-details .details-iframe a {
    padding: 5px 0;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    text-align: center;
    background-color: #343440;
    border-radius: 0.5rem;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.6rem;
}

.section-details .details-iframe a:hover {
    background-color: #00d9ff;
    color: white;
}

.section-details .details-info {
    display: flex;
    padding-left: 30px;
    width: 50%;
    font-size: 1rem;
    flex-direction: column;
    padding-top: 1.2rem;
}

.section-details .details-info div {
    display: flex;
    padding: 0;
    margin-bottom: 2rem;
}

.section-details .details-info div h1.desc-a {
    width: 40%;
    margin: 0;
    font-weight: 400;
    color: #343440;
    opacity: 0.75;
}

.section-details .details-info div h1.desc-a.season,
.section-details .details-info div h1.desc-a.chapter {
    align-self: center;
}

.section-details .details-info div h1.desc-b {
    width: 60%;
    margin: 0;
    font-weight: 800;
    color: #343440;
}

.section-details .details-info div select.desc-b {
    box-shadow: none;
    min-width: 60%;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
    border: none;
    outline: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    min-height: 2rem;
    
    appearance: none;
    text-indent: 0.5rem;
}

.section-details .details-info div select.desc-b:hover {
    outline: 2px solid #343440;
}

.section-details .details-info div select.desc-b:focus {
    outline-color: #00d9ff;
}

.section-details .details-info div select.desc-b option {
    color: #343440;
    background-color: white;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
}

.section-details .details-info .movie-actor h1 a {
    color: #343440;
    text-decoration: none;
}

.section-details .details-info .movie-actor h1 a:hover {
    color: #00d9ff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.series-description h1 {
    text-align: end;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.series-description p {
    text-align: justify;
    font-size: 1.3rem;
    font-family: sans-serif;
    text-wrap: balance;
    margin: 0;
}

.section-details .details-info-column-series1, .section-details .details-info-column-series2 {
    display: flex;
    flex-direction: column;
}

.section-details .details-info-column-series1 h1, .section-details .details-info-column-series2 h1 {
    margin: 0;
}

.section-details .details-info-column-series1 div, .section-details .details-info-column-series2 div {
    height: CALC(100%/5);
}

.section-similars {
    margin-top: 2rem;
}

.section-similars h1 {
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    margin: 0.5rem 0;
}

.section-similars .similar-movies,
.section-similars .similar-series  {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.section-similars .similar-movies div,
.section-similars .similar-series div {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
}

.section-similars .similar-movies div a,
.section-similars .similar-series div a {
    width: 49%;
    min-height: 14rem;
    border-radius: 0.5rem;
    transition: width 0.2s ease-in-out;
    background-size: 100% 100%;
    background-position-x: center;
}

.section-similars .similar-movies div a:hover,
.section-similars .similar-series div a:hover {
    box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
    outline: rgba(0, 0, 0, 0.15) solid 4px;
    outline-offset: -4px;
}

/* CAROUSEL CSS */

#similars-carousel {
    margin: 0;
    background-color: #2c2c30;
    padding: 0.5rem 0;
}

#similars-carousel .carousel-cell {
    border: 0;
    padding: 3px;
    margin-top: 0;
    margin-right: 10px;
    height: calc(88vw * 0.5625 / 5);
    width: calc(88vw /  5);
    filter: blur(1px)
}

.carousel-cell img {
    width: 100%;
    height: 100%;
}

#similars-carousel .carousel-cell.is-selected {
    filter: none;
    border: 3px solid white;
    padding: 0;
}

#similars-carousel .flickity-page-dots {
    display: none;
}

.flickity-prev-next-button.next:focus {
    box-shadow: none;
}

.main-carousel div a#portada-black-mirror {
    background-image: url(../img/series/black-mirror.jpg);
    background-size: 100% 100%;
    background-position-x: center;
}

.main-carousel div a#portada-breaking-bad {
    background-image: url(../img/series/breaking-bad.jpg);
    background-size: 100% 100%;
    background-position-x: center;
}

.main-carousel div a#portada-friends {
    background-image: url(../img/series/friends.jpg);
    background-size: 100% 100%;
    background-position-x: center;
}

.main-carousel div a#portada-game-of-thrones {
    background-image: url(../img/series/game-of-thrones.webp);
    background-size: 100% 100%;
    background-position-x: center;
}

.main-carousel div a#portada-how-i-met-your-mother {
    background-image: url(../img/series/how-i-met-your-mother.png);
    background-size: 100% 100%;
    background-position-x: center;
}

.main-carousel div a#portada-kung-fu-panda {
    background-image: url(../img/movies/kung-fu-panda.jpg);
    background-size: 100% 100%;
    background-position-x: center;
}

.main-carousel div a#portada-ratatouille {
    background-image: url(../img/movies/ratatouille.png);
    background-size: 100% 100%;
    background-position-x: center;
}

.main-carousel div a#portada-shrek {
    background-image: url(../img/movies/shrek1.webp);
    background-size: 100% 100%;
    background-position-x: center;
}

.main-carousel div a#portada-la-era-del-hielo {
    background-image: url(../img/movies/la-era-del-hielo.jpg);
    background-size: 100% 100%;
    background-position-x: center;
}

.main-carousel div a#portada-toy-story {
    background-image: url(../img/movies/toy_story.webp);
    background-size: 100% 100%;
    background-position-x: center;
}

.main-carousel div a#portada-madagascar {
    background-image: url(../img/movies/madagascar.jpg);
    background-size: 100% 100%;
    background-position-x: center;
}

.main-carousel div a#portada-lotr1 {
    background-image: url(../img/movies/lotr1.avif);
    background-size: 100% 100%;
    background-position-x: center;
}

.main-carousel div a#portada-lotr2 {
    background-image: url(../img/movies/lotr2.jpg);
    background-size: 100% 100%;
    background-position-x: center;
}

.main-carousel div a#portada-lotr3 {
    background-image: url(../img/movies/lotr3.avif);
    background-size: 100% 100%;
    background-position-x: center;
}

.main-carousel div a#portada-hobbit1 {
    background-image: url(../img/movies/hobbit1.jpeg);
    background-size: 100% 100%;
    background-position-x: center;
}

.main-carousel div a#portada-hobbit2 {
    background-image: url(../img/movies/hobbit2.jpg);
    background-size: 100% 100%;
    background-position-x: center;
}

.main-carousel div a#portada-hobbit3 {
    background-image: url(../img/movies/hobbit3.jpg);
    background-size: 100% 100%;
    background-position-x: center;
}
/* CAROUSEL CSS */

@media screen and (max-width: 1500px) {
    #similars-carousel .carousel-cell {
        margin-top: 10px;
        margin-right: 10px;
        height: calc(88vw * 0.5625 / 3);
        width: calc(88vw /  3);
    }
}

@media screen and (max-width: 1200px) {
    body header {
        padding-bottom: 0;
    }

    #similars-carousel .carousel-cell {
        margin-top: 10px;
        margin-right: 10px;
        height: calc(88vw * 0.5625 / 2);
        width: calc(88vw /  2);
    }

    main.movie-details-main {
        padding: 5%;
    }

    .section-details {
        flex-direction: column;
        margin: auto;
    }

    .section-details .details-iframe iframe {
        height: calc(90vw * 0.5625);
        width: 90vw;
    }

    .section-details .details-iframe,
    .section-details .details-info {
        padding: 0;
        width: auto;
        height: fit-content;
        margin-bottom: 0;
    }

    .section-details .details-info div {
        margin-top: 1rem;
        margin-bottom: 0;
        flex-direction: column;
    }

    .section-details .details-info .movie-title h1.desc-a {
        margin-top: 1rem;
        width: 100%;
        font-size: 1.5rem;
    }

    .section-details .details-info .movie-title h1.desc-b {
        width: 100%;
        font-size: 1.5rem;
    }

    .section-details .details-info .series-season h1.desc-a.season,
    .section-details .details-info .series-chapter h1.desc-a.chapter,
    .section-details .details-info .movie-duration h1.desc-a,
    .section-details .details-info .movie-duration h1.desc-b,
    .section-details .details-info .movie-genre h1.desc-a,
    .section-details .details-info .movie-actor h1.desc-a,
    .section-details .details-info .movie-genre h1.desc-b,
    .section-details .details-info .movie-actor h1.desc-b {
        width: 100%;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    } 
    
    .section-details .details-info div select.desc-b {
        width: 100%;
        min-height: 3rem;
    }

    .series-description {
        margin: 1rem 0;
    }

    .series-description h1 {
        margin-top: 0;
    }
    
    .series-description p {
        width: 100%;
        font-size: 1.2rem;
    }

    .section-similars h1 {
        margin: 0;
    }

    .section-similars .similar-movies,
    .section-similars .similar-series {
        flex-direction: column;
        margin: 0;
    }

    .section-similars .similar-movies div,
    .section-similars .similar-series div {
        width: 100%;
        margin: 0;
    }

    .section-similars .similar-movies div a,
    .section-similars .similar-series div a {
        margin: 0.25rem 0;
        min-height: auto;
        max-height: none;
        height: calc(88vw * 0.5625 / 2);
        width: calc(88vw /  2);
    }
}

@media screen and (max-width: 600px) {

    #similars-carousel .carousel-cell {
        margin-top: 10px;
        margin-right: 10px;
        height: calc(88vw * 0.5625);
        width: calc(88vw);
    }

    .section-similars .similar-movies,
    .section-similars .similar-series {
        flex-direction: column;
        margin: 0;
    }

    .section-similars .similar-movies div,
    .section-similars .similar-series div {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .section-similars .similar-movies div a,
    .section-similars .similar-series div a {
        margin: 0.5rem 0;
        min-height: auto;
        max-height: none;
        height: calc(90vw * 0.5625);
        width: calc(90vw);
    }
}