main {
        margin: 0;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: Roboto, sans-serif;
}

.error-message {
        font-family: sans-serif;
        text-align: end;
        margin-bottom: 0.25rem;
        font-size: 0.75rem;
}

.titulos {
        text-align: center;
        margin: 15px;
}

.save-form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
        margin-top: 2rem;
        border-radius: 15px;
}

.btn-cancel {
        width: 50%;
        margin: auto;
        margin-top: 0.5rem;
}

.btn-cancel button {
        width: 100%;
        height: 2rem;
}

.save-form div {
        width: 100%;
        margin: auto;
}

.save-form .user-name {
        width: 100%;
        display: flex;
}

.save-form .user-img {
        width: fit-content;
        margin: 0;
        margin-left: auto;
        margin-right: 2rem;
}

.save-form .user-img img {
        width: 6rem;
        border-radius: 100%;
}

.save-form .user-name h1 {
        text-align: center;
        font-size: 1rem;
        width: fit-content;
        margin: 0 auto;
}

.save-form .user-name h2 {
        width: 75%;
        text-align: start;
        margin: 0;
        font-size: 2.5rem;
        align-content: center;
}

.input_style_1 {
        padding: 0;
        margin: 0.25rem 0;
}

.save-form .change-password {
        width: 100%;
        margin: 2rem 0 1rem;   
}

.change-password input, .pay-method input {
        width: 100%;
}

.change-password h1, .pay-method h1 {
        text-align: end;
}

.change-password h3 {
        margin: 0 0 0.5rem;
}

.change-password h3.password-label {
        margin: 1rem 0 0.5rem;
}

.pay-method h3 {
        margin: 0 0 0.75rem;
}

.pay-method .name-label,
.credit-card .credit-card-col2 h3.cvv-label {
        margin: 1rem 0 0;
}

.transfer {
        align-content: space-between;
        margin: auto 0;
}

.transfer label {
        margin: 1rem 0;
}

.transfer p {
        margin: 0;
}

.pay-method .credit-card  {
        margin: 2rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

.credit-card .credit-card-col1 {
        margin: 0;
        width: 67.5%;
}

.credit-card-col1 .input_style_1, .credit-card-col2 .input_style_1 {
        margin: 1rem 0 0;
}

.show-password {
        text-align: end;
        font-family: sans-serif;
        color: gray;
        font-size: 0.7rem;
        margin: 0.25rem 0 0;
        cursor: pointer;
}

.credit-card .credit-card-col2 {
        margin: 0;
        width: 30%;
}

.credit-card .credit-card-col2 h3 {
        margin: 0;
}

.credit-card-label {
        display: flex;
        flex-direction: row;
}

.credit-card-label h3 {
        margin: auto 0.5rem;
}

.credit-card-label input {
        margin: auto 0;
        width: 20px;
        height: 20px;
}

.pay-method .coupon-transfer {
        margin: 0;
        display: flex;
        justify-content: space-between;
}

.pay-method .coupon-transfer div {
        width: 45%;
}

.coupon-transfer .coupon, .coupon-transfer .transfer {
        margin: 0;
        text-align: center;
        align-content: center;
}

.pay-method .coupon h3 {
        margin: 0;
        margin-bottom: 1rem;
}

.pay-method .coupon .rapi-pago, .pay-method .coupon .pago-facil {
        display: flex;
        width: 100%;
        margin: 0.5rem auto 0;
        justify-content: space-between;
}

.coupon .rapi-pago input, .coupon .pago-facil input {
        width: 20px;
        height: 20px;
        margin: 0;
}

.transfer input {
        width: 20px;
        height: 20px;
        margin: 0 0 0.5rem;
}

@media screen and (max-width: 1200px) {
        .save-form {
                width: 90%;
                margin-top: 0;
        }

        .save-form .user-name {
                flex-direction: column;
        }

        .save-form .user-name h2 {
                width: 100%;
                text-align: center;
        }

        .save-form .user-name .user-img {
                width: fit-content;
                margin: 1rem auto;
        }

        .btn-cancel {
                width: 90%;
        }

        .pay-method .coupon-transfer, .pay-method .credit-card {
                flex-direction: column;
        }

        .pay-method .coupon-transfer div, .pay-method .credit-card div {
                width: 100%;
        }

        .pay-method .coupon .rapi-pago, .pay-method .coupon .pago-facil {
                width: 50%;
        }

        .btn-border {
                margin-bottom: 2rem;
                height: 2rem;
        }

        .pay-method .transfer {
                margin: 2rem 0 0;
        }

        .transfer input {
                margin: 1rem 0;
        }

        .transfer h3 {
                margin: 0;
        }

        .pay-method .credit-card-col2 {
                margin: 1.5rem 0 0;
        }
}


@media screen and (max-width: 600px) {
        .pay-method .coupon .rapi-pago, .pay-method .coupon .pago-facil {
                width: 75%;
        }
}