body {
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

main {
    margin: auto;
    padding: 1em 2%;
    min-height: calc(100vh - 320px);
}

h2 {
    font-family: Roboto, sans-serif;
    text-align: center;
    color:rgb(0, 0, 2);
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

.box.b .transferencia {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0;
}

.box.b .transferencia label {
    margin: 0.25rem 0;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: auto;
}

.wrapper {
    display: grid;
    width: 90%;
    grid-template-columns: 50% 50%;
    margin: auto;
    grid-template-rows: auto auto;    
    text-align: center;
    font-family: Roboto, sans-serif;        
    cursor: pointer;
}

.box.a {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.box.a label {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.box.b div {
    margin: 1rem 0;
}

.box.b {
    padding: 0 2rem;
    height: fit-content;
    margin: auto 0;
}

.box.b h4 {
    margin: 0;
}

.box.b .subtitle-coupon {
    margin: 2.5rem 0 0;
}

.grid {
    display: grid;
    grid-template-columns: 47.5% auto;
    grid-template-rows: auto auto;
    gap: 5%;    

}

.grid.b{
    display: grid;
    grid-template-columns: 47.5% auto;
    grid-template-rows: auto auto;
    gap: 5%;    
    text-align: center;
}

.grid.b .input_style_1[type="number"]::-webkit-inner-spin-button,
.grid.b .input_style_1[type="number"]::-webkit-outer-spin-button {
    display: none;
    margin: 0;
}

.c{
    display: grid;
    grid-template-columns: 47.5% auto;
    grid-template-rows: auto auto;
    gap: 5%;    
}

.d{
    display: grid;
    grid-template-columns: auto auto;
    gap: auto;
}

.btn{
    outline: none;
    border: 2px solid transparent;
    font-family: Roboto, sans-serif;
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.5rem;
    background-color: #343440;
    color: white;
    cursor: pointer;
   
}

.Botones, .btn-cancel {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    display: flex;
}

.Botones {
    margin: 2rem auto 0;
}

.Botones a, .btn-cancel a {
    width: 100%;
    padding: 0 5%;
}

.Botones a button, .btn-cancel a button {
    width: 100%;
    height: 2.5rem;
}

.btn-cancel {
    margin-top: 1rem;
}

footer {
    height: 120px;
    display: flex;
    background-color: #2c2c30;
    margin: 0;
    color: white;
    font-family: Roboto, sans-serif;
    padding: 0 15%;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.error-message {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: large;
}

.help {

    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: large;
}



@media screen and (max-width: 1200px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .wrapper{
        grid-template-columns: 100%;
        grid-template-rows: auto;

        width: 90%;
        margin: auto;
    }

    .box.b{
        width: 100%;
        
    }
    
    .logo-section {
        padding: 0;
        width: 80%;
        margin: auto;
    }

    .menu-section {
        margin-top: 1rem;
    }

    .menu-section nav ul {
        display: flex;
        flex-direction: column;
    }

    .menu-section nav ul li {
        width: 100%;
    }

    .menu-section nav ul li:hover {
        width: 100%;
    }

    .menu-section nav ul li a {
        font-size: 1.5rem;
        min-height: 2rem;
    }

    .menu-section nav ul li.header-menu-destacar {
        width: 100%;
    }

    .menu-section nav ul li a {
        width: 100%;
        border-radius: 0;
    }

    footer {
        flex-direction: column;
        height: fit-content;
        padding: 2rem;
    }

    footer .footer-section {
        width: fit-content;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-bottom: 1.5rem;
    }

    footer .footer-left-section img {
        margin: 0 auto 1rem;
        max-width: 50%;
    }

    footer .footer-right-section {
        flex-direction: column;
    }

    footer .footer-text {
        text-align: center;
    }

    footer .footer-text h3 {
        font-size: 1.2rem;
    }
    
    footer .footer-text h4 {
        font-size: 0.8rem;
    }

    footer .footer-right-section .media-logos {
        width: 100%;
        display: flex;
        margin: 0;
        justify-content: space-evenly;
        margin-top: 0.5rem;
    }

    footer .footer-right-section .media-logos img {
        width: 3rem;
    }

    .box.b, .box.a {
        padding: 0;
        margin: 0;
    }

    .box.b {
        margin: 2rem 0;
    }

    .Botones, .btn-cancel {
        width: 100%;
    }

    input[type="radio"] {
        width: 30px;
        height: 30px;
        margin: auto;
    }

    .input_style_1 {
        width: 100%;
    }
}
