.reset-main {
    display: flex;
    min-height: 42rem;
}

.reset {
    min-height: 28rem;
    text-align: center;
    display: block;
    width: 100%;
    text-decoration: none;
    color: rgb(12, 9, 9);
    font-family: Roboto;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: auto;
}

.reset .reset-title {
    margin: 0;
    margin-bottom: 6rem;
}

.reset div {
    width: 100%;
    margin: 1.75rem auto;

    display: flex;
    justify-content: center;
}

.reset div h1 {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    margin: 0;
}

.reset div label {
    min-width: 10%;
    font-size: 1.2rem;
    text-align: start;
    margin: auto 1rem auto 0;
}

.reset div input {
    min-width: 25%;
}

.reset form a {
    text-decoration: none;
    margin: 0 auto;
}

.btn, .btn-border {
    min-width: 40%;
    min-height: 2rem;
    margin-top: 0.5rem;
    text-align: center;
    text-decoration: none;
}